@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root{
	--gradient: linear-gradient(to right, #AB5BFB, #7690EA);
	--bg: #FAF6FF;
}


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
	background-color: var(--bg);
}

.App{
	padding: 30px;
	margin: 0 auto;
	max-width: 1200px;
}
p{
	font-size: 18px;
	line-height: 1.6em;
}